@import './base.css';

#app {
    padding: 0;
    margin: 0;
}
html, body {
    padding: 0;
    margin: 0; 
}
a{
    text-decoration: none;
    color: var(--color-text);
}

th {
  font-weight: bold;
}

td{
    padding: 2px 16px;
}
table, td, th {
  border: 1px solid var(--color-text);
  border-collapse: collapse;
}
table{
  margin-top: 2rem;
}
table a:hover {
  color: var(--yellow);
}
table button:hover {
  color: var(--yellow);
}


table tr:nth-child(even) {
  background-color: var(--light-blue); /* Kolor dla parzystych wierszy */
}


button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
input {
    all: unset;
  }
  
.button-primary {
    border: 2px solid  var(--yellow);
    background-color: var(--light-blue);
    padding: 6px 40px;
    width: max-content;
    font-weight: bold;
    color: var(--yellow);
    margin-top: 20px;
}
.button-secondary{
    border: 2px solid  var(--yellow);
    background-color: var(--yellow);
    padding: 6px 40px;
    width: max-content;
    font-weight: bold;
    color: var(--dark-blue);
    margin-top: 20px;
}
input[type="text"], input[type="email"], input[type="phone"], input[type="number"]{
    border: 1px solid var(--yellow);
    background-color: var(--light-blue);
    padding: 2px 10px;
    margin: 4px 0px;
    max-width: 300px;
}
input:is(:-webkit-autofill, :autofill) {
    border: 1px solid var(--yellow);
    background-color: var(--light-blue) !important;
    padding: 2px 10px;
    margin: 4px 0px;
    max-width: 300px;
  }

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 16px;
    box-sizing: border-box;
}
input[type="date"] {
    border: 1px solid var(--yellow);
    background-color: var(--light-blue);
    padding: 4px 10px;
    margin: 4px 0;
    max-width: 300px;
    font-size: 16px;
    color: var(--color-text);
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: var(--yellow);
    cursor: pointer;
    border: 2px solid var(--yellow);
    background-color: var(--light-blue);
    display: inline-block;
    border-radius: 4px;
    position: relative;
  }
  
  input[type="checkbox"]:checked::after {
    content: '\2713';
    font-size: 14px;
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.25rem;
    position: absolute;
    top: -6px;
    left: 1px;
  }
  
  input:is(:-webkit-autofill, :autofill) {
    border: 1px solid var(--yellow);
    background-color: var(--light-blue) !important;
    padding: 2px 10px;
    margin: 4px 0;
    max-width: 300px;
  }
  select {
    border: 1px solid var(--yellow);
    background-color: var(--light-blue);
    padding: 6px 10px;
    margin: 4px 0;
    max-width: 300px;
    font-size: 16px;
    color: var(--color-text);
    border-radius: 4px;
    cursor: pointer;
  }
  
  select:focus {
    outline: none;
    border-color: var(--dark-blue);
  }
  
  option {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    padding: 4px;
}
nav{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid var(--yellow);
    margin: 0;
    padding: 10px 20px;
    gap: 3rem;
    font-size: 1.25rem;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--blue);
    opacity: 85%;
    box-sizing: border-box;
    z-index: 999999;
}
.nav-panel{
    display: flex;
    flex-direction: column;
    border-bottom: none;
    border-right: 1px solid var(--yellow);
    height: calc(100vh - 54px);
    width: 200px;
    top: 54px;
  }
  .router-view{
    padding: 1rem;
    width: 100%;
  }
  nav a:hover{
    color: var(--yellow);
  }


